<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>